<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur Charles Clarke</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Clarke</h1>
    <p><img src="/img/Arthur.jpg" alt="Imagen de Clarke"></p>
    <p>Arthur Charles Clarke, más conocido como Arthur C. Clarke, fue un escritor y científico británico.</p>
</body>
</html>