<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Rowan Hamilton</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Hamilton</h1>
    <p><img src="/img/Hamilton.jpg" alt="Imagen de William Rowan Hamilton"></p>
    <p>William Rowan Hamilton fue un matemático, físico, y astrónomo irlandés, ​ que hizo importantes contribuciones al desarrollo de la óptica, la dinámica, y el álgebra. Su descubrimiento del cuaternión, junto con su sistematización de la dinámica, son sus trabajos más conocidos</p>
</body>
</html>