<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augusta Ada King</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Lovelace</h1>
    <p><img src="/img/lovelace.jpg" alt="Imagen de Augusta Ada King"></p>
    <p>Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica</p>
</body>
</html>